html, body {
    background-color: #ccc;
}

.top_padding {
    padding-top: 20px;
}

.repos_wrap {
    max-width: 1599px; /* puts max 3 cards in a row */

    margin-left: auto;
    margin-right: auto;
}

.repos {
    width: 400px;
}

.md-headline a {
    display: inline-block;
    
    text-decoration: none;
    
    color: blue;
}

.md-headline a:hover {
    text-decoration: underline;
}

.footer {
    color: rgba(0,0,0,0.54);
    font-size: 15px;

    text-align: right;
    display: block;
}

.issue_count {
    margin-bottom: 5px;
}

.circleback {
    padding: 2px 5px;
    
    background-color: grey;

    font-weight: bold;

    color: white;
}

.search_bar {
    width: 70%;

    margin-left: auto;
    margin-right: auto;
}

.search_bar .md-errors-spacer {
    display: none;
}

.issue_table {
    font-size: 30px;
}

.issue_time {
    min-width: 160px;
    width: 15%;
}

.issue_status {
    min-width: 100px;
    width: 15%;
}
